@page "/counter"
@using BlazorApp.Models.Domain
@using BlazorApp.Repository
@inject StationRepository _stationRepository

<PageTitle>Counter</PageTitle>

<h1>Counter</h1>

<p role="status">Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@foreach (Station station in Stations())
{
    <p>@station.Adresse</p>
}

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    public List<Station> Stations()
    {
        return _stationRepository.GetAll();
    }
}