<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">AutoLib</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav>
        <AuthorizeView>
            <Authorized>
                <div class="authorize-nav-elements">
                    <div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                                <span class="oi oi-home" aria-hidden="true"></span> Home
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="vehicules">
                                <span class="oi oi-list-rich" aria-hidden="true"></span> Véhicules
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="myreservation">
                                <span class="oi oi-calendar" aria-hidden="true"></span> Réservations
                            </NavLink>
                        </div>
                    </div>
                    <div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="account">
                                <span class="oi oi-person" aria-hidden="true"></span> Mes informations
                            </NavLink>
                        </div>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="logout">
                                <span class="oi oi-account-logout" aria-hidden="true"></span> Déconnexion
                            </NavLink>
                        </div>
                    </div>
                </div>
            </Authorized>
            <NotAuthorized>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="register">
                        <span class="oi oi-signpost" aria-hidden="true"></span> S'inscrire
                    </NavLink>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="login">
                        <span class="oi oi-account-login" aria-hidden="true"></span> Se connecter
                    </NavLink>
                </div>
            </NotAuthorized>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}