@using BlazorApp.Services
@using BlazorApp.Models.Domain
@using BlazorApp.Repository
@inject StationService StationService
@inject IJSRuntime JsRuntime

<h1>Stations</h1>
<div class="map-container">
    <div id="@mapId" class="map-leaflet" style=""></div>
</div>

@code {
    private List<Station> stations;
    private string mapId = "map-" + totalMap;
    private static int totalMap = 0;

    protected override Task OnInitializedAsync()
    {
        totalMap++;
        stations = StationService.Stations();
        return Task.CompletedTask;
    }
    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JsRuntime.InvokeVoidAsync("initializeLeafletMap", mapId);
            foreach (var station in stations)
            {
                await JsRuntime.InvokeVoidAsync("addMarkerToMap", mapId, station.IdStation ,station.Latitude, station.Longitude, station.Adresse, station.TotalVoitures, station.TotalPlacesParking);
            }
        }
    }
}